@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        @apply font-main font-medium text-white
    }

    /* @font-face {
        font-family: din, sans-serif;
        src: local("./styles/fonts/d-din-pro/");
    } */
}

.white-gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 66.666667%, #FFFFFF 100%);
}

.title {
    @apply 
        text-brandOrange text-center text-4xl font-secondary font-bold mb-10
        lg:text-5xl lg:mb-20
}

.title-w-desc {
    @apply 
        text-brandOrange text-center text-4xl font-secondary font-bold mb-5
        lg:text-5xl lg:mb-10
}

.description {
    @apply text-center text-brandOrange font-secondary font-light mb-5 px-3
    lg:text-2xl lg:mb-10
}

.orange-button {
    @apply 
        bg-brandOrange text-white text-center text-base block w-7/12 max-w-sm py-1 rounded-md shadow-[0px_10px_5px_-5px_rgb(0,0,0,0.1)]
        lg:text-2xl lg:py-4 lg:max-w-lg
}

.white-button {
    @apply 
        bg-white text-brandOrange text-center text-base block w-7/12 max-w-sm py-1 rounded-md shadow-[0px_10px_5px_-5px_rgb(0,0,0,0.1)]
        lg:text-2xl lg:py-4 lg:max-w-lg
}

@media (min-width: 1024px) {
    .white-gradient {
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 64.06%, #FFFFFF 100%)
    }   
}

/* SERVICIOS */
.services-swiper-bullet{ 
    @apply  w-2 h-2 rounded-full bg-gray-300
}

.services-swiper-bullet-active { 
    @apply bg-brandOrange
}
