@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: din;
        src: url("./fonts/din-light.ttf");
        font-weight: 300;
    }

    @font-face {
        font-family: din;
        src: url("./fonts/din-medium.ttf");
        font-weight: 500
    }
    

    @font-face {
        font-family: din-pro;
        src: url("./fonts/din-pro-bold.otf");
        font-weight: 700
    }

    @font-face {
        font-family: din-pro;
        src: url("./fonts/din-pro-regular.otf");
        font-weight: 400
    }

    html {
        @apply font-din-pro font-[700] text-white
    }

    input:active, input:focus, textarea:active, textarea:focus {
        outline: none
    }   

    input::placeholder {
        @apply font-din-pro font-[400]
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    button:hover, a:hover, input[type="submit"]:hover {
        cursor: pointer;
    }

}

.title {
    @apply 
        text-brandOrange text-center text-4xl font-din-pro mb-10
        lg:text-5xl lg:mb-20
}

.title-w-desc {
    @apply 
        text-brandOrange text-center text-4xl font-din-pro mb-5
        lg:text-5xl lg:mb-10
}

.description {
    @apply text-center text-brandOrange font-din-pro font-[400] mb-5 px-3
    lg:text-2xl lg:mb-10
}

.orange-button {
    @apply 
        bg-brandOrange text-white font-din-pro tracking-wide text-center text-base block w-7/12 max-w-sm py-1 rounded-md shadow-simple
        lg:text-2xl lg:py-4 lg:max-w-lg
        hover:shadow-xl hover:-translate-y-[0.125rem] duration-200
}

.white-button {
    @apply 
        bg-white text-brandOrange font-din-pro tracking-wide text-center text-base block w-7/12 max-w-sm py-1 rounded-md shadow-simple
        lg:text-2xl lg:py-4 lg:max-w-lg
        hover:shadow-xl hover:-translate-y-[0.125rem] duration-200
}

.shadow-simple {
    @apply shadow-[0px_5px_5px_rgb(0,0,0,0.15)]
}

/* NAV */
.before-under-line {
    @apply before:absolute before:bottom-0 before:left-0 before:h-[1px] 
    before:z-10 before:bg-white before:w-0 before:duration-500
    before:hidden lg:before:block
}

.before-under-line-active {
    @apply before-under-line before:w-full
}

/* SERVICIOS */
.services-swiper-bullet{ 
    @apply  w-2 h-2 rounded-full bg-gray-300
}

.services-swiper-bullet-active { 
    @apply bg-brandOrange
}

/* CONTACTANOS */
.contactanos-input {
    @apply relative w-full text-center font-din font-[300] text-brandOrange border-brandOrange border-2 rounded-md
    placeholder:text-brandOrange p-2 text-lg lg:text-left lg:pl-4
}